@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Montserrat', sans-serif;
}

body {
  padding: 2rem;
  background-color: #C3D2D5;
}

