.card {
  background: rgba(255,255,255, .5);
  list-style: none;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border-bottom: 5px solid rgb(84, 122, 165);
  .disagree {
    border-bottom: 5px solid red;
  }
  &-title {
    margin: 0;
    padding: 0;
  }
  &-prgph {
    &:last-of-type {
      padding-bottom: 0;
    }
  }
}